<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">

				<x-slider id="slider"data-load-web-component="resources/components/Slider/index.js">
					<x-slide>First</x-slide>
					<x-slide>Second</x-slide>
					<x-slide>Third</x-slide>
				</x-slider>

			</div>
		</div>
	</section>
</div>
