<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">

				<react-demo-component data-load-web-component="resources/components/ReactDemo/ReactDemo.js"></react-demo-component>

			</div>
		</div>
	</section>
</div>
