<div class="section">
	<section>
		<div class="row row--reducedWidth">
			<div class="col">

				<teaser-component data-load-web-component="resources/components/Teaser/Teaser.js"></teaser-component>

			</div>
		</div>
	</section>
</div>
